
svg {
    display: block;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#graph-page {
    position: relative;
    border: 1px solid grey;
    width: 800px;
    height: 400px;
    background-color: black;
}

#graph-grid,
#waterfall-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#graph-grid path,
#waterfall-grid path {
    stroke: rgba(80,80,80,0.8);
    fill: transparent;
}

#graph-grid tspan {
    font-size: 9px;
    fill: rgba(255,255,255,0.8);
}

#graph-grid .vtext {
    transform: rotate(90deg);
}

#graph-data {
    width: 100%;
    height: 100%;
}

#graph-data path {
    stroke: yellow;
    fill: darkslateblue;
    animation-name: path;
    animation-duration: 1s;
}

#app-info {
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 2px;
    z-index: 20;
}
#app-cursor {
    width: 100%;
    height: 100%;
}

#app-cursor rect {
    stroke: transparent;
    fill: rgba(255,255,255,0.25);
}

#app-cursor path {
    stroke: yellow;
    fill: transparent;
    stroke-width: 0.5px;
}

#waterfall-page {
    position: relative;
    border: 1px solid grey;
    width: 800px;
    height: 200px;
    background-color: black;
    overflow: hidden;
}

#waterfall-page line {
    stroke-width: 4px;
}

#waterfall-data svg {
    height: 2px;
    width: 800px;
}

#waterfall-data-scroll {
    position: relative;
}

#bandinfo-page {
    position: absolute;
    top: 25px;
    left: 840px;
    width: 100px;
    height: 400px;
}

#bandinfo-page .title {
    font-size: 24px;
    padding-bottom: 10px;
    color: #a0a0a0;
}

#bandinfo-page .info {
    font-size: 12px;
    padding-bottom: 20px;
    color: white;
}

#bandinfo-page .info select {
    background: inherit;
    color: inherit;
    font: inherit;
    padding: 2px;
    outline: none;
}
